<h1 class='page-header'>Hello, {{user.firstName}} {{user.lastName}}</h1>
<h2 class='col-lg-12'>Here's some info about you:</h2>
<div class="container">
    <dt class='col-md-4'>Username:</dt>
        <dd class="col-md-6 offset-1">{{user.username}}</dd>
    <dt class='col-md-4'>First Name:</dt>
        <dd class='col-md-6 offset-1'>{{user.firstName}}</dd>
    <dt class='col-md-4'>Last Name:</dt>
        <dd class='col-md-6 offset-1'>{{user.lastName}}</dd>
    <dt class='col-md-4'>Profession:</dt>
        <dd class='col-md-6 offset-1'>{{user.profession}}</dd>
    <dt class='col-md-4'>Biography:</dt>
        <dd class='col-md-12 offset-1'>{{user.bio}}</dd>
</div>